/* game board table */

html, body {
  margin: 0;
  height: 100%;
  background-image: url("https://img.freepik.com/free-photo/old-wooden-texture-background-vintage_55716-1138.jpg?size=626&ext=jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  margin-top:50px;
  overflow:hidden
}

td {
  width: 75px;
  height: 75px;
  border: solid 1px black;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* DONE - TODO: make into circles */

  border-radius: 100%;

  margin: 5px;
  width: 80%;
  height: 80%;

  position: absolute;
  top:0px;

  animation-name: falling;
  animation-duration: 2s;

}

/* Standard syntax */
@keyframes falling {
  from {top:-20vh;}
  to {top:0px;}
}

.center {
  text-align: center
}

/* DONE - TODO: make pieces red/blue,  depending on player 1/2 piece */

.playerOne {
  background-color: red;
}

.playerTwo {
  background-color: blue;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}

.brown {
  background-color: brown;
}

.purple {
  background-color: purple;
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

#game {
  margin-top:20%;
}


/* column-top is table row of clickable areas for each column */

/* TODO: make column-top row lighter and provide hover effect */

td {
  background-color:bisque;
  position: relative;
}

#column-top td{
  background-color:goldenrod
}

#column-top td:hover {
  background-color: blanchedalmond;
  cursor: pointer;
}
